/* poppins-regular - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('../webfonts/poppins-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../webfonts/poppins-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../webfonts/poppins-v20-latin-regular.ttf') format('truetype') /* Safari, Android, iOS */
}
/* poppins-700 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: local(''), url('../webfonts/poppins-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../webfonts/poppins-v20-latin-700.woff') format('woff'), /* Modern Browsers */
    url('../webfonts/poppins-v20-latin-700.ttf') format('truetype') /* Safari, Android, iOS */
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    overflow: hidden;
    background-image: url(../images/background.jpg);
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/logo.png);
    background-size: 50px 14px;
    background-position: right 15px bottom 10px;
    background-repeat: no-repeat;
    overflow: auto;
}

.login-box {
    width: 400px;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0 0 5px #CCCCCC;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.login-headline {
    padding-bottom: 2rem;
}

    .login-headline h2 {
        color: #333;
        font-size: 2rem;
        border-left: #1A77B9 3px solid;
    }

.login-content {
    margin: 0 3rem;
}

.i {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .i i {
        transition: 0.3s;
    }

.txt_field {
    position: relative;
    border-bottom: 2px solid #A1A5B7;
    margin: 30px 0 0 0;
    padding-left: 30px;
}

    .txt_field input {
        width: 100%;
        padding: 0 5px;
        height: 40px;
        font-size: 1rem;
        border: none;
        background: none;
        outline: none;
    }

    .txt_field label {
        position: absolute;
        top: 50%;
        left: 35px;
        color: #A1A5B7;
        transform: translateY(-50%);
        font-size: 1rem;
        pointer-events: none;
        transition: .5s;
    }

    .txt_field span::before {
        content: '';
        position: absolute;
        top: 40px;
        left: 0;
        width: 0%;
        height: 2px;
        background: #1A77B9;
        transition: .5s;
    }

    .txt_field .i {
        position: absolute;
        top: 50%;
        left: 5px;
        color: #A1A5B7;
        transform: translateY(-50%);
        font-size: 14px;
        pointer-events: none;
        transition: .5s;
    }

    .txt_field input:focus ~ label,
    .txt_field input:valid ~ label,
    .txt_field input:read-only ~ label {
        top: -5px;
        font-size: 0.7rem;
    }

    .txt_field input:focus ~ .i,
    .txt_field input:valid ~ .i,
    .txt_field input:read-only ~ .i {
        color: #1A77B9;
    }

    .txt_field input:focus ~ span::before,
    .txt_field input:valid ~ span::before,
    .txt_field input:read-only ~ span::before {
        width: 100%;
    }

a.forgot-password {
    font-size: 0.8rem;
    padding-top: 10px;
}

a {
    display: block;
    text-align: right;
    text-decoration: none;
    color: #A1A5B7;
    transition: 0.3s;
}

a {
    color: #1A77B9;
}

.btn {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    outline: none;
    border: none;
    border-radius: 3px;
    background-color: #1A77B9;
    font-size: 1.2rem;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    margin: 2rem 0 1rem 0;
    cursor: pointer;
    transition: 0.5s;
}

    .btn:hover, .btn:focus {
        background-color: #16487E;
        box-shadow: 0 0 5px #CCCCCC;
    }

.separator {
    display: none;
    align-items: center;
    text-align: center;
    height: 0;
    margin-top: 3rem;
    margin-bottom: 3rem;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #A1A5B7;
}

    .separator .separator-text {
        font-size: 0.90rem;
        line-height: 1.5;
        white-space: nowrap;
    }

    .separator:before,
    .separator:after {
        content: " ";
        width: 50%;
        border-bottom: 1px solid #A1A5B7;
        box-sizing: border-box;
    }

    .separator:before {
        margin-right: 1.25rem;
    }

    .separator:after {
        margin-left: 1.25rem;
    }

.forms-login-box ~ .external-separator {
    display: flex;
}

.remember-me-box {
    display: flex;
    justify-content: left;
    font-size: 0.9rem;
    color: #A1A5B7;
}

    .remember-me-box label {
        padding-left: 0.5rem;
    }

    .remember-me-box input[type=checkbox]:hover,
    .remember-me-box input[type=checkbox]:focus {
        color: #16487E;
        accent-color: #16487E;
        outline: 0;
    }

        .remember-me-box input[type=checkbox]:hover ~ label,
        .remember-me-box input[type=checkbox]:focus ~ label {
            color: #16487E;
        }


.external-login-box ~ .form-separator {
    display: flex;
}

.external-login-box {
    display: flex;
    flex-wrap: wrap;
}

.external-button {
    width: 100%;
    display: block;
    border: 0;
    box-sizing: border-box;
    text-align: start;
    padding: 0.5rem;
}

    .external-button .unlink {
        margin-left: auto;
    }

        .external-button .unlink:hover,
        .external-button .unlink:focus {
            color: #16487E;
            outline: 0;
        }

    .external-button a.icon-button:focus,
    .external-button a.icon-button:hover {
        color: #16487E;
        border-color: #16487E;
        border-width: 1px;
        outline: 0;
        box-shadow: 0 0 5px #CCCCCC;
    }

    .external-button a.icon-button {
        cursor: pointer;
    }

    .external-button .icon-button {
        display: flex;
        align-items: center;
        white-space: nowrap;
        border: 1px solid #A1A5B7;
        border-radius: 3px;
        height: 40px;
        padding: 0 0.5rem;
    }

        .external-button .icon-button .i {
            padding-right: 0.3rem;
            font-size: 1.2rem;
        }

.mfa-provider-select {
    display: flex;
    font-family: "Poppins", sans-serif;
    color: #666;
    padding: 1rem 0;
    text-align: start;
}

    .mfa-provider-select .i {
        font-size: 2rem;
        color: #333;
        margin-right: 1rem;
    }

    .mfa-provider-select:hover,
    .mfa-provider-select:focus,
    .mfa-provider-select:hover i,
    .mfa-provider-select:focus i {
        outline: 0;
        color: #1A77B9;
    }

    .mfa-provider-select:hover,
    .mfa-provider-select:focus {
        margin-left: 0.1rem;
        margin-right: -0.1rem;
    }

.mfa-target,
.verification-description
.different-provider-box {
    color: #A1A5B7;
    display: inline-block;
    margin-bottom: 1rem;
}

.verification-description {
    display: block;
    margin-bottom: 2rem;
}

.validation-digit-box {
    margin-top: 0.5rem;
    display: inline-flex;
    align-items: center;
}

    .validation-digit-box ~ .error {
        margin-top: 1rem;
    }

    .validation-digit-box ~ .btn {
        margin-top: 2.5rem;
    }

.validation-digit {
    margin: 0.2rem;
    padding: 0.2rem 0;
    width: 40px;
    height: 57px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: #1A77B9;
    font-size: 2rem;
    border-radius: 3px;
    border: 1px solid #666
}

    .validation-digit:focus,
    .validation-digit:valid {
        border: 2px solid #1A77B9;
        outline: 0;
    }

.different-provider-box {
    font-size: 0.8rem;
}

    .different-provider-box a:hover,
    .different-provider-box a:focus {
        outline: 0;
        color: #16487E;
        font-weight: 700;
    }


.fa-identity {
    background-image: url(../images/identity-64.png);
    background-size: 16px;
    background-origin: content-box;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}

.fa-activedirectory {
    background-image: url(../images/windows-64.png);
    background-size: 16px;
    background-origin: content-box;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}

.mfa-provider-content {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

    .mfa-provider-content .registration-url a {
        font-size: 0.8rem;
    }

        .mfa-provider-content .registration-url a:hover,
        .mfa-provider-content .registration-url a:focus {
            outline: 0;
            color: #16487E;
            font-weight: 700;
        }

.error {
    color: #f5414f;
    font-size: 0.8rem;
}


@media screen and (max-width: 400px) {
    .login-box {
        min-width: 220px;
        width: 100%;
    }

    .login-content {
        margin: 0 2rem;
    }
}

@media screen and (max-width: 260px) {
    .login-content {
        margin: 0 1rem;
    }
}
