/* poppins-regular - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('../webfonts/poppins-v20-latin-regular.woff2?v=1.0.0') format('woff2'), /* Super Modern Browsers */
    url('../webfonts/poppins-v20-latin-regular.woff?v=1.0.0') format('woff'), /* Modern Browsers */
    url('../webfonts/poppins-v20-latin-regular.ttf?v=1.0.0') format('truetype') /* Safari, Android, iOS */
}
/* poppins-700 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: local(''), url('../webfonts/poppins-v20-latin-700.woff2?v=1.0.0') format('woff2'), /* Super Modern Browsers */
    url('../webfonts/poppins-v20-latin-700.woff?v=1.0.0') format('woff'), /* Modern Browsers */
    url('../webfonts/poppins-v20-latin-700.ttf?v=1.0.0') format('truetype') /* Safari, Android, iOS */
}

:root {
    --default-text: #333333;
    --default-light: #A1A5B7;
    --box-background: #ffffff;
    --button-background: #ffffff;
    --shadow: #CCCCCC;
    --accent: #1A77B9;
    --accent-hover: #16487E;
    --accent-background-text: #ffffff;
    --error: #f5414f;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    overflow: hidden;
    background-image: url(../images/background.jpg?v=1.0.0);
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--default-text);
}

.block {
    display: block;
}

.ta-right{
    text-align: right;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-image: url(../images/logo.png?v=1.0.0);
    background-size: 50px 14px;
    background-position: right 15px bottom 10px;
    background-repeat: no-repeat;
    overflow: auto;
}

.login-box {
    margin: auto;
    width: 400px;
    text-align: center;
    background: var(--box-background);
    box-shadow: 0 0 5px var(--shadow);
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.login-headline {
    padding-bottom: 2rem;
}

    .login-headline h2 {
        color: var(--default-text);
        font-size: 2rem;
        border-left: var(--accent) 3px solid;
    }

.login-content {
    margin: 0 3rem;
    position: relative;
}

.i,
.toggle-pw {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .i i {
        transition: 0.3s;
    }

    .toggle-pw i {
        transition: 0.03s;
    }

.txt_field {
    position: relative;
    border-bottom: 2px solid var(--default-light);
    margin: 30px 0 0 0;
    padding-left: 30px;
}

    .txt_field input,
    .txt_field select {
        width: 100%;
        padding: 0 5px;
        height: 40px;
        font-size: 1rem;
        border: none;
        background: none;
        outline: none;
    }

        .txt_field input::-ms-reveal {
            display: none;
        }

    .txt_field label {
        position: absolute;
        top: 50%;
        left: 35px;
        color: var(--default-light);
        transform: translateY(-50%);
        font-size: 1rem;
        pointer-events: none;
        transition: .5s;
    }

    .txt_field span::before {
        content: '';
        position: absolute;
        top: 40px;
        left: 0;
        width: 0%;
        height: 2px;
        background: var(--accent);
        transition: .5s;
    }

    .txt_field .i,
    .txt_field .toggle-pw {
        position: absolute;
        top: 50%;
        color: var(--default-light);
        transform: translateY(-50%);
        font-size: 14px;
        transition: .5s;
    }

    .txt_field .i {
        left: 5px;
        pointer-events: none;
    }

    .txt_field .toggle-pw {
        right: 5px;
        cursor: pointer;
    }

        .txt_field .toggle-pw:hover {
            color: var(--accent);
        }

    s
    .txt_field input:focus ~ label,
    .txt_field input:valid ~ label,
    .txt_field input:read-only ~ label,
    .txt_field input:-webkit-autofill ~ label,
    .txt_field input:autofill ~ label,
    .txt_field select:focus ~ label,
    .txt_field select:valid ~ label,
    .txt_field select:read-only ~ label,
    .txt_field select:-webkit-autofill ~ label,
    .txt_field select:autofill ~ label {
        top: -5px;
        font-size: 0.7rem;
    }

    .txt_field input:focus ~ .i,
    .txt_field input:valid ~ .i,
    .txt_field input:-webkit-autofill ~ .i,
    .txt_field input:autofill ~ .i,
    .txt_field select:focus ~ .i,
    .txt_field select:valid ~ .i,
    .txt_field select:-webkit-autofill ~ .i,
    .txt_field select:autofill ~ .i {
        color: var(--accent);
    }

    .txt_field input:read-only ~ .i,
    .txt_field select:read-only ~ .i {
        color: var(--default-light);
    }

    .txt_field input:focus ~ span::before,
    .txt_field input:valid ~ span::before,
    .txt_field input:autofill ~ span::before,
    .txt_field input:-webkit-autofill ~ span::before,
    .txt_field select:focus ~ span::before,
    .txt_field select:valid ~ span::before,
    .txt_field select:autofill ~ span::before,
    .txt_field select:-webkit-autofill ~ span::before {
        width: 100%;
    }

    .txt_field input:read-only ~ span::before,
    .txt_field select:read-only ~ span::before {
        width: 0;
    }

a.forgot-password,
a.change-password-link {
    text-align: right;
    display:block;
    font-size: 0.8rem;
    padding-top: 10px;
}

    a.forgot-password:hover,
    a.change-password-link:hover,
    a.forgot-password:focus,
    a.change-password-link:focus {
        outline: 0;
        font-weight: 700;
    }

a {
    text-decoration: none;
    color: var(--default-light);
    transition: 0.3s;
}

a {
    color: var(--accent);
}

.btn {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    outline: none;
    border: none;
    border-radius: 3px;
    background: var(--accent);
    font-size: 1.2rem;
    color: var(--accent-background-text);
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    margin: 2rem 0 1rem 0;
    cursor: pointer;
    transition: 0.5s;
}

    .btn:hover, .btn:focus {
        background: var(--accent-hover);
        box-shadow: 0 0 5px var(--shadow);
    }

    .btn:disabled,
    .btn:disabled:hover {
        background: var(--default-light);
        cursor: not-allowed;
        box-shadow: unset;
    }

.separator {
    display: none;
    align-items: center;
    text-align: center;
    height: 0;
    margin-top: 3rem;
    margin-bottom: 3rem;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: var(--default-light);
}

    .separator .separator-text {
        font-size: 0.90rem;
        line-height: 1.5;
        white-space: nowrap;
    }

    .separator:before,
    .separator:after {
        content: " ";
        width: 50%;
        border-bottom: 1px solid var(--default-light);
        box-sizing: border-box;
    }

    .separator:before {
        margin-right: 1.25rem;
    }

    .separator:after {
        margin-left: 1.25rem;
    }

.forms-login-box ~ .external-separator {
    display: flex;
}

.checkbox-field {
    display: flex;
    justify-content: left;
    font-size: 0.9rem;
    color: var(--default-light);
}

    .checkbox-field label {
        padding-left: 0.5rem;
    }

    .checkbox-field input[type=checkbox]:hover,
    .checkbox-field input[type=checkbox]:focus {
        color: var(--accent-hover);
        accent: var(--accent-hover);
        outline: 0;
    }

        .checkbox-field input[type=checkbox]:hover ~ label,
        .checkbox-field input[type=checkbox]:focus ~ label {
            color: var(--accent-hover);
        }


.external-login-box ~ .form-separator {
    display: flex;
}

.external-login-box {
    display: flex;
    flex-wrap: wrap;
}

.external-button {
    width: 100%;
    display: block;
    border: 0;
    box-sizing: border-box;
    text-align: start;
    padding: 0.5rem;
}

    .external-button .unlink {
        margin-left: auto;
    }

        .external-button .unlink:hover,
        .external-button .unlink:focus {
            color: var(--accent-hover);
            outline: 0;
        }

    .external-button a.icon-button:focus,
    .external-button a.icon-button:hover,
    .external-button button.icon-button:focus,
    .external-button button.icon-button:hover {
        color: var(--accent-hover);
        border: var(--accent-hover);
        border-width: 1px;
        outline: 0;
        box-shadow: 0 0 5px var(--shadow);
    }

    .external-button a.icon-button,
    .external-button button.icon-button {
        cursor: pointer;
    }

    .external-button button.icon-button {
        color: var(--accent);
        width: 100%;
        background-color: var(--button-background);
        font-size: 1rem;
        transition: 0.3s;
    }

        .external-button button.icon-button:disabled,
        .external-button button.icon-button:disabled:hover {
            color: var(--default-light);
            cursor: not-allowed;
            border-width: 1px;
            border: 1px solid var(--default-light);
            box-shadow: unset;
        }

    .external-button .icon-button {
        display: flex;
        align-items: center;
        white-space: nowrap;
        border: 1px solid var(--default-light);
        border-radius: 3px;
        height: 40px;
        padding: 0 0.5rem;
    }

        .external-button .icon-button .i {
            padding-right: 0.3rem;
            font-size: 1.2rem;
        }

.mfa-provider-select {
    display: flex;
    font-family: "Poppins", sans-serif;
    color: var(--default-text);
    padding: 1rem 0;
    text-align: start;
}

    .mfa-provider-select .i {
        font-size: 2rem;
        color: var(--default-text);
        margin-right: 1rem;
    }

    .mfa-provider-select:hover,
    .mfa-provider-select:focus,
    .mfa-provider-select:hover i,
    .mfa-provider-select:focus i {
        outline: 0;
        color: var(--accent);
    }

    .mfa-provider-select:hover,
    .mfa-provider-select:focus {
        margin-left: 0.1rem;
        margin-right: -0.1rem;
    }

.mfa-target,
.verification-description
.different-provider-box {
    color: var(--default-light);
    display: inline-block;
    margin-bottom: 1rem;
}

.verification-description {
    display: block;
    margin-bottom: 2rem;
}

.validation-digit-box {
    margin-top: 0.5rem;
    display: inline-flex;
    align-items: center;
}

    .validation-digit-box ~ .error {
        margin-top: 1rem;
    }

    .validation-digit-box ~ .btn {
        margin-top: 2.5rem;
    }

.validation-digit {
    margin: 0.2rem;
    padding: 0.2rem 0;
    width: 40px;
    height: 57px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: var(--accent);
    font-size: 2rem;
    border-radius: 3px;
    border: 1px solid var(--default-text)
}

    .validation-digit:focus,
    .validation-digit:valid {
        border: 2px solid var(--accent);
        outline: 0;
    }

.different-provider-box {
    font-size: 0.8rem;
}

    .different-provider-box a:hover,
    .different-provider-box a:focus {
        outline: 0;
        color: var(--accent-hover);
        font-weight: 700;
    }


.fa-identity {
    background-image: url(../images/identity-64.png?v=1.0.0);
    background-size: 16px;
    background-origin: content-box;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}

.fa-activedirectory {
    background-image: url(../images/windows-64.png?v=1.0.0);
    background-size: 16px;
    background-origin: content-box;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}

.mfa-provider-content {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

    .mfa-provider-content .registration-url a {
        display:block;
        font-size: 0.8rem;
    }

        .mfa-provider-content .registration-url a:hover,
        .mfa-provider-content .registration-url a:focus {
            outline: 0;
            color: var(--accent-hover);
            font-weight: 700;
        }

.error {
    color: var(--error);
    font-size: 0.8rem;
    margin-top: 1rem;
}




.ispinner {
    position: relative;
    width: 20px;
    height: 20px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

    .ispinner .ispinner-blade {
        position: absolute;
        top: 6.5px;
        left: 8.5px;
        width: 2.5px;
        height: 6.5px;
        background-color: #8e8e93;
        border-radius: 1.25px;
        animation: iSpinnerBlade 1s linear infinite;
        will-change: opacity;
    }

        .ispinner .ispinner-blade:nth-child(1) {
            transform: rotate(45deg) translateY(-6.5px);
            animation-delay: -1.625s;
        }

        .ispinner .ispinner-blade:nth-child(2) {
            transform: rotate(90deg) translateY(-6.5px);
            animation-delay: -1.5s;
        }

        .ispinner .ispinner-blade:nth-child(3) {
            transform: rotate(135deg) translateY(-6.5px);
            animation-delay: -1.375s;
        }

        .ispinner .ispinner-blade:nth-child(4) {
            transform: rotate(180deg) translateY(-6.5px);
            animation-delay: -1.25s;
        }

        .ispinner .ispinner-blade:nth-child(5) {
            transform: rotate(225deg) translateY(-6.5px);
            animation-delay: -1.125s;
        }

        .ispinner .ispinner-blade:nth-child(6) {
            transform: rotate(270deg) translateY(-6.5px);
            animation-delay: -1s;
        }

        .ispinner .ispinner-blade:nth-child(7) {
            transform: rotate(315deg) translateY(-6.5px);
            animation-delay: -0.875s;
        }

        .ispinner .ispinner-blade:nth-child(8) {
            transform: rotate(360deg) translateY(-6.5px);
            animation-delay: -0.75s;
        }

    .ispinner.ispinner-large {
        width: 35px;
        height: 35px;
    }

        .ispinner.ispinner-large .ispinner-blade {
            top: 11.5px;
            left: 15px;
            width: 5px;
            height: 12px;
            border-radius: 2.5px;
        }

            .ispinner.ispinner-large .ispinner-blade:nth-child(1) {
                transform: rotate(45deg) translateY(-11.5px);
            }

            .ispinner.ispinner-large .ispinner-blade:nth-child(2) {
                transform: rotate(90deg) translateY(-11.5px);
            }

            .ispinner.ispinner-large .ispinner-blade:nth-child(3) {
                transform: rotate(135deg) translateY(-11.5px);
            }

            .ispinner.ispinner-large .ispinner-blade:nth-child(4) {
                transform: rotate(180deg) translateY(-11.5px);
            }

            .ispinner.ispinner-large .ispinner-blade:nth-child(5) {
                transform: rotate(225deg) translateY(-11.5px);
            }

            .ispinner.ispinner-large .ispinner-blade:nth-child(6) {
                transform: rotate(270deg) translateY(-11.5px);
            }

            .ispinner.ispinner-large .ispinner-blade:nth-child(7) {
                transform: rotate(315deg) translateY(-11.5px);
            }

            .ispinner.ispinner-large .ispinner-blade:nth-child(8) {
                transform: rotate(360deg) translateY(-11.5px);
            }

.busy-indicator {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    align-items: center;
    background-color: rgba(255,255,255,0.8);
}

    .busy-indicator.active {
        display: flex;
    }

@keyframes iSpinnerBlade {
    0% {
        opacity: 0.85;
    }

    50% {
        opacity: 0.25;
    }

    100% {
        opacity: 0.25;
    }
}



@media screen and (max-width: 400px) {
    .login-box {
        min-width: 220px;
        width: 100%;
    }

    .login-content {
        margin: 0 2rem;
    }
}

@media screen and (max-width: 260px) {
    .login-content {
        margin: 0 1rem;
    }
}
