#loginContainer #loginButton {
    background-color: blue;
}

#loginContainer #loginButton:hover {
    background: blueviolet;
}

#loginContainer input[type="checkbox"] + label svg rect {
    stroke: blue;
}

#loginContainer input[type="checkbox"]:checked + label svg #checked {
    stroke: blue;
}

#loginContainer #external li a:hover {
    color: blue;
    border-color: blue;
}
