<div class="row">
  <div class="col">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nr</th>
          <th scope="col">Description</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of orders" (click)="select(item)" [class.table-active]="item == selectedOrder">
          <th scope="row">{{item.id}}</th>
          <td>{{item.orderNumber}}</td>
          <td>{{item.orderDescription}}</td>
          <td>{{item.orderDate}}</td>
        </tr>
      </tbody>
    </table>
    <button (click)="addNew()">add</button>
    <button (click)="delete()" *ngIf="selectedOrder">delete</button>
  </div>
  <div class="col">
    <order-detail *ngIf="selectedOrder" [Order]="selectedOrder"></order-detail>
  </div>
</div>

  