/*:root {
    --default-text: red;
    --default-light: #A1A5B7;
    --box-background: #ffffff;
    --shadow: #CCCCCC;
    --accent: chartreuse;
    --accent-hover: #16487E;
    --accent-background-text: blue;
    --error: #f5414f;
}*/
